{% extends 'chat/base.html' %}

{% block title %}Main title{% endblock %}

{% block content %}
    <style type="text/css">
        .nav-link {
            color: #ffffff;
        }

        .nav-link:hover {
            color: #eb34e8;
        }

        #description h1 {
            text-align: center;
        }
    </style>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="#">WebChat</a>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
        </ul>
      </div>
    </nav>

    <div id="description" class="col-8">
        <h1 class="mt-2">Welcome to WebChat</h1>
        <hr class="mt-0 mb-4">
    </div>

{% endblock %}